@font-face {
    font-family: 'SansationLight';
	src: url('../../assets/fonts/linea-basic.eot');
	src: url('../../assets/fonts/linea-basic.woff') format('woff'), url('../../assets/fonts/linea-basic.ttf') format('truetype');
}

.x_btn {
    display: flex;
    height: 40px;
    flex-wrap: nowrap;
    padding: 0 15px;
    background: rgb(26, 131, 255);
    color: aliceblue;
    border-radius: 15px;
    overflow: hidden;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    justify-content: center;
    align-items: center;

    border: 1px solid #9896bd;
    border-spacing: 2px;
}

.x_btn:disabled {
    pointer-events: none;
    background-color: dimgrey;
    color: linen;
    opacity: 1;
    border: 1px solid dimgrey;
}

.x_btn:hover,
.x_btn:active {
    background: rgba(26, 131, 255, 0.5);
}

.x_btn__text {
    display: inline-flex;
    align-items: center;
    padding: 0 0px;
    color: #dcdbeb;
    height: 50px;
}

.x_btn__text::before {
    display: inline-block;
    font-family: "SansationLight";
    font-size: 1rem;
    padding: 0 10px;
    content: "!";
}