html {
    box-sizing: border-box;
    font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.header-main {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 5px;
    height: 100px;
    background-color: cadetblue;
}

.logo-place {
    left: 0;
}

.navbar{
    display: flex;
}
.navbar-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 3.25rem;
    width: 100%;
}
a {
    cursor: pointer;
    text-decoration: none;
}
a strong {
    color: currentColor;
}
.container {
    flex-grow: 1;
    margin: 0 auto;
    position: relative;
    width: auto;
}
.navbar.is-primary {
    background-color: #00d1b2;
    color: #fff;
}
.navbar-item {
    color: #4a4a4a;
    display: block;
    line-height: 1.5;
    position: relative;

    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;    
}
.navbar-item:hover {
    background-color: #4caf50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;    
}
a.navbar-item {
    cursor: pointer;
}
.navbar-start {
    display: flex;
}
.footer {
    background-color: #fafafa;
    padding: 3rem 1.5rem 6rem;
}
